/* Eric Meyer Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;
	color: #fe2500;
}
body{line-height:1.1}
table{border-collapse:separate;border-spacing:0}
table,td,th{vertical-align:middle}
a img{border:none}
button::-moz-focus-inner{border:0}
:focus{-moz-outline:none!important;outline:0}
html{overflow-y:scroll}
